<div class="index">
  <div class="list">
    <div class="item">
      <div class="label">可用余额</div>
      <div class="cont">{{ balances.availableAmount.toLocaleString() }} {{ balances.symbol }}</div>
    </div>
    <div class="item">
      <div class="label">已开卡/可开卡</div>
      <div class="cont">
        {{ cardsHasOpend.toLocaleString() }} /
        {{ cardsNumLimit.toLocaleString() }}
      </div>
    </div>
    <div class="item">
      <div class="label">昨日消费</div>
      <div class="cont">
        {{(balances.yesterdaySpent-0).toLocaleString()}}
      </div>
    </div>
    <div class="item">
      <div class="label">总消费</div>
      <div class="cont">
        {{(balances.totalSpent-0).toLocaleString()}}
      </div>
    </div>
  </div>
  <div class="tips" *ngIf="balances.availableAmount <= 100">余额快耗尽，未避免影响使用，请联系管理员充值</div>
  <!-- <nz-countdown [nzValue]="deadline" [nzTitle]="'Day Level'" [nzFormat]="'D 天 H 时 m 分 s 秒'"></nz-countdown> -->
</div>
