.ids {
  display: flex;
  .tool {
    width: 350px;
    margin: 0 10px 0 0;
    .line {
      display: flex;
      padding: 10px 0 0;
      .left {
        width: 200px;
      }
      .right {
        width: 150px;
        text-align: center;
      }
    }
    .sel-list {
      border: 1px solid #eee;

      margin: 10px 0;
      div {
        padding: 6px 10px;
        word-break: break-all;
        border-bottom: 1px solid #eee;
        &:nth-last-child(1) {
          border: none;
        }
      }
      .selIndex {
        background-color: bisque;
      }
    }
  }
}
